<%- include('../partials/head'); %>

<header>
    <%- include('../partials/menu'); %>
</header>


<main role="main" class='container-fluid' id="main">
    <div id="sidebarpanel" class='card'>
        <h1>Informations</h1>
    </div>
    <div id="mapcont">
        <div class="bar">
            <form id="search-form" action="">
                <input class="search-input" id="search-input" type="text" title="Search" placeholder="Search..." autocomplete="off">
                <button type="submit" class="btn btn-outline-light"> <img class="search-icon" src="/images/search-icon2.png" title="Search"></button>
            </form>
        </div>
        <div id="map">
        </div>
    </div>    
</main>

<%- include('../partials/footer'); %>