<% if (messages.errors) { %>
    <div class="alert alert-danger fade show">
        <button class="close" type='button' data-dismiss='alert'>
            <i class="far fa-times-circle"></i></button>
        <% for (let error in messages.errors) { %>
            <div>
                <%= messages.errors[error].msg %>
            </div>
        <% } %>
    </div>
    <% } %>
<% if (messages.info) { %>
    <div class="alert alert-info fade show">
        <button class="close" type='button' data-dismiss='alert'>
            <i class="far fa-times-circle"></i></button>
        <% for (info in messages.info) { %>
            <div>
                <%= messages.info[info].msg %>
            </div>
        <% } %>
    </div>
<% } %>
<% if (messages.success) { %>
    <div class="alert alert-success fade show">
        <button class="close" type='button' data-dismiss='alert'>
            <i class="far fa-times-circle"></i></button>
        <% for (let success in messages.success) { %>
            <div>
                <%= messages.success[success].msg %>
            </div>
        <% } %>
    </div>
<% } %>