<%- include('../partials/head'); %>

<header>
    <%- include('../partials/menu'); %>
</header>


<main role="main" class='container-fluid'>
    <div id="sidebarpanel">
        <h1>leaflet-sidebar</h1>
    </div>
        <div id="mapcont">
            <div id="map">
            </div>
        </div>
        <div id="result"></div>
        <div id="coordonnees"></div>
    
</main>

<%- include('../partials/footer'); %>