<%- include('../../partials/head'); %>

<%- include('../../partials/menu'); %>

<div class="row justify-content-center m-5 pb-5">
    <div class="col-sm-8 col-md-6 col-xl-4">
        <div class="row">
            <div class="col text-right mb-2">Pas encore membre ? <a href="/signup">&nbspRejoins-nous !</a></div>
        </div>
        <div class="card-group">
            <div class="card p-4">
                <div>
                    <div class="text-center"><img src="images/icon.png" style="max-height:100px;" /></div>
                    <h1 class="text-center">Connexion</h1>
                    <p class="text-muted text-center"></p>
                    <form method="post" action="/login" class="login" id="login">
                        <div class="input-group mb-3 mt-5">
                            <div class="input-group-prepend"><span class="input-group-text fas fa-user">
                                </span></div>
                            <input class="form-control" type="text" placeholder="Adresse email" id="email"
                                name="email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"><span class="input-group-text fas fa-lock"
                                    style="font-weight: 900;">
                                </span></div>
                            <input id="password" name="password" class="form-control" type="password"
                                placeholder="Mot de passe">
                        </div>
                        <div class="row">
                            <div class="col-12 text-right mb-3">
                                <a class="btn btn-link px-0" href="">Mot de passe oublié ?</a>
                            </div>
                            <div class="col-12  text-right">
                                <input class="btn btn-primary btn-block" type="submit" value="Connexion"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="/auth/facebook" class="btn border btn-block btn-facebook btn-social mt-3">
            <i class="fab fa-facebook-f fa-sm"></i>
            | Sign in with Facebook</a>
    </div>
</div>


<%- include('../../partials/footer'); %>