<div class="row justify-content-center m-5 pb-5">

        <div class="card-group">
            <div class="card p-4">
                <div>
                    <p class="text-muted text-center">Création d'un Spot</p>
                    <form method="post" action="/api/spots/create" class="spots" id="spots">
                        <div class="input-group mb-3 mt-5">
                            <input class="form-control" type="text" placeholder="Titre" id="title"
                                name="title" required autofocus>
                        </div>
                        <div class="input-group mb-3">
                            <label for="rating">Note</label>
                            <input class="form-control" type="number" placeholder="0" id="rating"
                                name="rating" step="1" min="0" max="3" required>
                        </div>
                        <input class="form-control" type="text" id="lat"
                                name="lat" required>
                        <input class="form-control" type="text"  id="long"
                                name="lon" required>
                                <span id="test">

                                </span>
                        
                            
                        <label for="destinations">Destinations</label>
                        <div class="input-group mb-3">
                                <input id="destinations" type="text" class="form-control" name="destinations"  placeholder="Destination 1" required>
                        </div>
                        <div class="input-group mb-3">

                                <input id="destinations" type="text" class="form-control" name="destinations"  placeholder="Destination 2" >
                        </div>
                        <div class="input-group mb-3">

                            <input id="destinations" type="text" class="form-control" name="destinations"  placeholder="Destination 3" >
                        </div>
                        <div class="input-group mb-3">

                            <label for="direction">Directions</label>
                            <select class="form-control" id="direction" name="direction"> 
                                <option value="Nord">Nord</option>
                                <option value="Nord-Est">Nord-Est</option>
                                <option value="Est">Est</option>
                                <option value="Sud-Est">Sud-Est</option>
                                <option value="Sud">Sud</option>
                                <option value="Sud-Ouest">Sud-Ouest</option>
                                <option value="Ouest">Ouest</option>
                                <option value="Nord-Ouest">Nord-Ouest</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">

                            <input class="form-control" type="text" placeholder="Route" id="roads" name="roads" >
                        </div>
                        <div class="input-group mb-3">

                            <input class="form-control" type="text" placeholder="Accès" id="access" name="access" >
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Conseil" id="advice" name="advice" >
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <input class="btn btn-primary btn-block" type="submit" value="Enregistrer"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>